{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Opus', 'configuration of opus plugin', 'compress', ['list']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Opus', 'compress') %}
      {% call build_list_table() %}
	{% call build_list_table_headers(delete=url_for('.OpusConfigurationView:delete', id=opus.name)) %}
          <th>Name</th>
          <th>Type</th>
          <th>Bandwidth</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(opus) build_list_table_rows(resource_list['items']) %}
          <td>{{ opus.name }}</td>
          <td>Opus</td>
          <td>{{ opus.max_bandwidth or 'full' }}</td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Opus configuration') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
          {{ render_field(form.packet_loss) }}
          {{ render_field(form.complexity) }}
          {{ render_field(form.signal) }}
          {{ render_field(form.application) }}
          {{ render_field(form.max_playback_rate) }}
          {{ render_field(form.max_bandwidth) }}
          {{ render_field(form.bitrate) }}
          {{ render_field(form.cbr) }}
          {{ render_field(form.fec) }}
          {{ render_field(form.dtx) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
