#!/bin/sh
# Copyright 2017 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        python setup.py bdist
        ;;

    package)
        tar xvf dist/wazo_admin_ui_opus-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        ;;

    install)
        chown wazo-admin-ui:wazo-admin-ui /etc/asterisk/codecs.d/opus_via_ui.conf
        systemctl restart wazo-admin-ui
        ;;

    uninstall)
        rm -f /etc/wazo-admin-ui/conf.d/50-wazo-plugin-opus.yml
        systemctl restart wazo-admin-ui
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
